/*Repeti código... optimizarlo */


.inline{
	display: inline-table;
}
/*Header*/
.logo{
	width: 100px;
	height: 100px;
	margin-top: 20px;
}
a{
	text-decoration: none;
	color:#A8A8A8 ;
}
.nav{
	margin-top: 60px;
	text-align: right;
}
.menu{
	margin-right: 27px;
}
.contsemilla{
	background-color: #E6E6E6;
	width: 100%;
	padding-bottom: 50px;
}
.crop{
	width: 100%;
	height: 300px;
	background-image: url(../img/semilla.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	
}
.psemilla{
	
	text-align: center;
	margin-top: 60px;
}
.gray{
	color: #6E6E6E;
}
.contgray{
	background-color:#E1E0E0;
	padding-bottom: 50px;
}

.mivision{
	margin-top: 100px;
		
}
.misionvision{
	text-align: center;
}
.mv{
	margin-top: 15px;
}
.pmv{
	margin-top: 20px;
}
.pheader{
	width: 600px;
	margin-left: 300px;
}
.sectionmetod{
	width: 100%;
	margin-top: 50px;
}
.imgmetod{
    width: 48%;
    height: 370px;
    background-image: url(../img/metodo.jpg);
    display: inline-block;
    background-size: cover;

}
.imgconf{
 width: 90%;
}
.contgreen{
	width: 52%;
    text-align: center;
    display: inline-block;
    height: 370px;
    background-image: url(../img/fondo.jpg);
    margin-left: -5px;
	position: absolute;
}
.metod{
	background-image: url(../img/fondo.jpg);
}
.pmetod{
	color: white;
}	
.contmet{
	color: white;
    width: 567px;
    margin-top: 100px;
    margin-left: 50px;
}
#metodologia{
	margin-bottom: 10px;
}
.servicios{
	margin-top: 60px;
}
.center{
	text-align: center;
}
.pserv{
	margin-bottom: 100px;
	margin-top: 21px;
}
.serviciosind{
	text-align: center;
}
.marginbottom{
	margin-top: 75px;
}
.lorem{
	margin-top: 20px;
	margin-bottom: 60px;
}
h4{
	color: #066126;
}
.proyectos{
	background-color: #498D27;
	width: 100%;
}
.proyecto{
    margin-top: 45px;
}
.proyimg{
	 width: 45%;
	 margin-left: 58px;
}
span{
    width: 38%;
    display: inline-block;
    text-align: -webkit-center;
    margin-left: 102px;
    position: absolute;
    margin-top: 120px;
}
h5{
	font-size: 18px;
}
h6{
	font-size: 14px; 
}
.subproy{
	margin-left: 60px;
}
.proyecto2{
	padding-bottom: 60px;
}
.equipo{

}
.pequipo{
	color: #066126;
}
.circulo{
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   margin-left: 110px;
   
}
.equip{
	width: 215px;
}
.redes{
	margin-left: 168px;
    margin-top: 23px;
}
.redesq{
	width: 32px;
}

.contblog{
	width: 100%;
	margin-top: 50px;
	background-image:url(../img/fondo2.jpg);
	padding-bottom: 100px; 
}
.blog{

}
.slider{
	margin-top: 143px;
	position: relative;
}
.sliderizq{
	 margin-left: 1179px;
}
.slideright{
	margin-left: 76px;
    margin-right: -71px;
}
.backg1{
	background-image: url(../img/fotos/img-0400.jpg);
	
}
.backg2{
	background-image: url(../img/fotos/img-9246.jpg);
}
.propback{
	height: 200px;
	width: 300px;
	background-size: cover;
}
.position{
	position: absolute;
}
.imgblog{
	position: static;
	margin-top: -57px;
}
.contredessociales{
	width: 100%;
	background-color: #4E4D4D;
	border: 1px solid #4E4D4D;
}
.redessociales{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 113px;
    margin-right: -111px;
}
.divredes{
	border: 1px solid white;
    width: 20%;
    height: 207px;
}
.tam{
    width: 35px;
    margin-left: 200px;
    margin-top: 87px;
}
.predes{
margin-left: 55px;
    margin-top: 60px;
    font-family: OpenSans-light;
    color: white; 	
}
.footer{
	width: 100%;
	background-color: white;
	margin-bottom: 100px;
}
.laboratoria{
	color: #E9D81B;
}
.la{
display: inline-block;
}
.ecomunidad{
	display: inline-block;
	margin-left: 676px;

}
.pfooter{
	width: 169px;
	font-size: 15px;
}
.infooter{
    margin-top: 100px;
    margin-left: 100px;
}
.opensansreg{
	font-family: Opensans-Regular;
}